{% extends 'home.html' %}
{% block content %}
<style>
body {
	color: #fff;
	background: #63738a;
	font-family: 'Roboto', sans-serif;
}
.form-control {
	height: 40px;
	box-shadow: none;
	color: #969fa4;
}
.form-control:focus {
	border-color: #5cb85c;
}
.form-control, .btn {        
	border-radius: 3px;
}
.signup-form {
	width: 450px;
	margin: 0 auto;
	padding: 30px 0;
  	font-size: 15px;
}
.signup-form h2 {
	color: #636363;
	margin: 0 0 15px;
	position: relative;
	text-align: center;
}
.signup-form h2:before, .signup-form h2:after {
	content: "";
	height: 2px;
	width: 30%;
	background: #d4d4d4;
	position: absolute;
	top: 50%;
	z-index: 2;
}	
.signup-form h2:before {
	left: 0;
}
.signup-form h2:after {
	right: 0;
}
.signup-form .hint-text {
	color: #999;
	margin-bottom: 30px;
	text-align: center;
}
.signup-form form {
	color: #999;
	border-radius: 3px;
	margin-bottom: 15px;
	background: #f2f3f7;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 30px;
}
.signup-form .form-group {
	margin-bottom: 20px;
}
.signup-form input[type="checkbox"] {
	margin-top: 3px;
}
.signup-form .btn {        
	font-size: 16px;
	font-weight: bold;		
	min-width: 140px;
	outline: none !important;
}
.signup-form .row div:first-child {
	padding-right: 10px;
}
.signup-form .row div:last-child {
	padding-left: 10px;
}    	
.signup-form a {
	color: #fff;
	text-decoration: underline;
}
.signup-form a:hover {
	text-decoration: none;
}
.signup-form form a {
	color: #5cb85c;
	text-decoration: none;
}	
.signup-form form a:hover {
	text-decoration: underline;
}  
label {
	font-family: sans-serif;
	font-size: 1rem;
	padding-right: 10px;
  }
  
select {
	font-size: 0.9rem;
	padding: 2px 5px;
  }
.error {
	color: red !important;
}
  
</style>
</head>
<body>
<div class="signup-form">
    <form action="/register/" method="post">
		{% csrf_token %}
		<h2>Register</h2>
		<p class="hint-text">Create your account. It's free and only takes a minute.</p>
        <div class="form-group">
			
				<input type="text" id="username" class="form-control required-field" name="username" placeholder="username" >
				<small class="error validation-message" id="username-validation"></small>

				
        </div>
		
        <div class="form-group">
        	<input type="email" id =email class="form-control required-field" name="email" placeholder="Email">
			<small class="error" id="email-validation"></small>
        </div>
        <div class="form-group">
        	<input type="mobile_number" id =mobile_number class="form-control required-field" name="mobile_number" placeholder="mobile number">
			<small class="error validation-message" id="mobile_number-validation"></small>
        </div>
        <div class="form-group">
        	<input type="country" id =country class="form-control required-field" name="country" placeholder="country">
			<small class="error validation-message" id="country-validation"></small>

        </div>
		
        <div class="form-group">
			<select name="Nationality" id="nationality" class="form-control required-field">
				<option value="">Nationality</option>
				<option value="Urban">Urban</option>
				<option value="Rural">Rural</option>
		  </select>
		  <small class="error validation-message" id="nationality-validation"></small>

        </div>
        <div class="form-group" onchange="validateRequiredField()">
			<select name="role" id="role" class="form-control required-field">
				<option value="">Role</option>
				<option value="student">student</option>
				<option value="staff">staff</option>
				<option value="admin">admin</option>
				<option value="editor">editor</option>
			  </select>
			  <small class="error validation-message" id="role-validation"></small>

        </div>
		
		<div class="form-group">
            <input type="password" class="form-control required-field" name="password" id=password placeholder="Password">
			<small class="error validation-message" id="password-validation"></small>

        </div>
		<div class="form-group">
            <input type="password" class="form-control" name="password2" id=password2 placeholder="Confirm Password">
			<small class="error" id="password2-validation"></small>

        </div>        
       
		<div class="form-group">
            <button id="log-button" type="button" class="btn btn-success btn-lg btn-block">Register Now</button>
        </div>
    </form>
    <script>		
		function emailValidation(){
			const email = $("#email").val();
			const emailRegex = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;
			 if (email == ''){
				$('#email-validation').html("required field")
				validate = false
			}
			else if(!email.match(emailRegex) ){
				$('#email-validation').html("not a valid email")
				validate = false
			}else {
				$('#email-validation').html("")
				validate = true
			}
		}
		function requiredValidation() {
			const fields = ['username', 'mobile_number', 'email', 'country', 'nationality', 'role', 'password', 'password2'];
			let allFieldsValid = true;

			fields.forEach(field => {
				const value = $(`#${field}`).val();
				const validationMessageElement = $(`#${field}-validation`);

				if (!value.trim()) {
					validationMessageElement.text("Required field");
					allFieldsValid = false;
				} else {
					validationMessageElement.empty(); // Clear validation message if the field is not empty
				}
			});

			return allFieldsValid;
		}
		function passwordValidation(){
			const password = $("#password").val();
			const password2 = $("#password2").val();
			if (password !== password2) $('#password2-validation').html("password does not match")
			else if(!password2.trim()) $('#password2-validation').html("required field")
			else $('#password2-validation').empty()
		}
		$("#email").keyup( function() {
			emailValidation()
		});
		$("#password2").keyup( function() {
			passwordValidation()
		});

		function setupValidationHandlers() {
			$(".required-field").change(validateRequiredField);
		}

		function validateRequiredField() {
			const value = $(this).val();
			const validationMessageElement = $(this).next('.validation-message');

			if (!value.trim()) {
				validationMessageElement.html("Required field");
			} else {
				validationMessageElement.empty();
			}
		}
		setupValidationHandlers();
        $('#log-button').click(function(){
			emailValidation()
			passwordValidation()
			requiredValidation()
			if (validate === false) return			
            var username = $("#username").val();
			var email = $("#email").val();
			var mobile_number = $("#mobile_number").val();
			var email = $("#email").val();
			var country = $("#country").val();
			var nationality = $("#nationality").val();
			var role = $("#role").val();
            var password = $("#password").val();
			var password2 = $("#password2").val();
            var data = {
                'csrfmiddlewaretoken':'{{csrf_token}}',
                'username': username,
				'email' : email,
				'mobile_number' : mobile_number,
				'email' : email,
				'country' : country,
				'nationality' : nationality,
				'role' : role,
				'country' : country,
				'nationality' : nationality,
				'role' : role,
                'password': password,
				'password2': password2,
            }
			
			$.ajax({
				url:'{% url "RegistrationPage" %}',
				method : 'POST',
				data : data,
				type : JSON,
				
				success: function(data){
					if (data.mode == 'success'){
						window.location.replace('{% url "LoginPage" %}')
					}
					else if(data.mode == 'error'){
						
						$(`#${data.field}-validation`).html(data.message)
					}
				}
			})
        })
    </script>
	<div class="text-center">Already have an account? <a href="{% url 'LoginPage' %}">Sign in</a></div>
	<br>
	
	<p id="errormsg" class="text-center"></p>

</div>
</body>
{% endblock %}